<footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Sirneij <span id="getYear"></span></span>
                         <span>Initially Design by <a href="http://www.styleshout.com/">styleshout</a> but Redesigned and Coded by <a href="http://www.devc.com/">Sirneij</a> </span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>
