<!-- site header
        ================================================== -->
{% load static %}
<header class="s-header">
    <div class="header__top">
        <div class="header__logo" id="mylogo">
            <a class="site-logo" href="{% url 'blog:blog-index' %}">
                <img id="Layer_1" src="{% static 'blog/images/logo.svg' %}" alt="Homepage">
            </a>
        </div>
        <div class="header__search">
            <form role="search" method="get" class="header__search-form" action="/search/">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="header__search-field" placeholder="Type Keywords" value='{{ request.GET.q }}' name="q" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="header__search-submit" value="Search">
            </form>
            <a href="#0" title="Close Search" class="header__search-close">Close</a>
        </div> <!-- end header__search -->
        <!-- toggles -->
        <a href="#0" class="header__search-trigger"></a>
        <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
    </div> <!-- end header__top -->
    <nav class="header__nav-wrap">
        {% if request.user.is_authenticated %}
        <div class="myprofile">
            {% if request.user.profile.profile_pics %}
            <img src="{{ request.user.profile.profile_pics.url }}">
            {% else %}
            <img src="{% static 'blog/images/avatars/user-01.jpg' %}">
            {% endif %}
            <p class="dis">Howdy, <span style="font-weight: bold;">{{ request.user }}</span>!</p>
        </div>
        {% endif %}
        <ul class="header__nav">
            <li class="display"><a href="{% url 'blog:blog-index' %}" title="">Home</a></li>
            <li class="has-children">
                <a class="display" href="#0" title="">Account</a>
                {% if user.is_authenticated %}
                <ul class="sub-menu">
                    <li><a class="display" href="{% url 'account:logout' %}">Log out</a></li>
                    <li><a class="display" href="{% url 'account:edit' request.user %}">Profile</a></li>
                    <li class="fav"><a class="display" href="#">Favourite<span class="figure">2</span></a></li>
                </ul>
                {% else %}
                <ul class="sub-menu">
                    <li><a class="display" href="{% url 'account:login' %}">Log in</a></li>
                    <li><a class="display" href="{% url 'account:register' %}">Sign up</a></li>
                </ul>
                {% endif %}
            </li>
            <li class="display">
                <a href="{% url 'blog:post_create' %}" title="">Write a post</a>
            </li>
            <li class="display"><a href="#" title="">Challenge</a></li>
        </ul> <!-- end header__nav -->
        <ul class="header__social">
            <li class="ss-facebook">
                <a href="https://facebook.com/">
                    <span class="screen-reader-text">Facebook</span>
                </a>
            </li>
            <li class="ss-twitter">
                <a href="#0">
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
            <li class="ss-github">
                <a href="#0">
                    <span class="screen-reader-text">Github</span>
                </a>
            </li>
            <li class="ss-linkedin">
                <a href="#0">
                    <span class="screen-reader-text">Linkedin</span>
                </a>
            </li>
        </ul>
    </nav> <!-- end header__nav-wrap -->
</header> <!-- end s-header -->