{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Devc - {{ intro.user }} Portfollio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/devcport.css' %}">
    <!-- script
    ================================================== -->
    <script src="{% static 'portfolio/js/modernizr.js' %}"></script>
    <script src="{% static 'portfolio/js/pace.min.js' %}"></script>
    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blog/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'blog/images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    {% block header %}{% endblock header %}
</head>

<body id="top">
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!-- site header
    ================================================== -->
    <header class="s-header">
        <div class="header-logo" id="mylogo">
            <a class="site-logo" href="{% url 'blog:blog-index' %}">
                <img id="Layer_1" src="{% static 'blog/images/logo.svg' %}" alt="Homepage">
            </a>
        </div>
        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Services</a></li>
                <li><a class="smoothscroll" href="#works" title="works">Works</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Say Hello</a></li>
            </ul>
            <ul class="header-social">
                <li><a href="{{ intro.user.profile.facebook_url }}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="{{ intro.user.profile.twitter_url }}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="{{ intro.user.profile.codepen_url }}"><i class="fab fa-codepen" aria-hidden="true"></i></a></li>
                <li><a href="{{ intro.user.profile.linkedin_url }}"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </header> <!-- end s-header -->
    {% if messages %}
        <div class="row">
            <div class="column large-6 tab-full">
                {% for message in messages %}
                <div class="alert-box alert-box--{{ message.tags }} hideit">
                    {{ message }}
                    <i class="fa alert-box__close" aria-hidden="true"></i>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Epitome 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div><!-- end photoSwipe background -->
    <!-- Java Script
    ================================================== -->
    <script src="{% static 'portfolio/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'portfolio/js/plugins.js' %}"></script>
    <script src="{% static 'portfolio/js/main.js' %}"></script>
</body>

</html>